[2013-07-02 04:42] np98765 opened #1 "[READ FIRST] Issue Requirements"
When creating an issue, please include the following information:
- CraftBukkit version (use /version)
- HarryPotterSpells version
- List of plugins (use /pl)
- Complete server log

If it's a configuration issue, please also supply the config file.

You can use [pastebin.com](http://www.pastebin.com) for the server log and configuration file.

[2013-09-21 03:28] Droobledore opened #15 "Configuration issues with HarryPotterSpells"
CraftBukkit version (use /version) = Bukkit-1.6.2-R1.0
HarryPotterSpells version = Build #68
List of plugins (use /pl) = world portal, groupmanager, worldedit, nocheatplus, fly, neopaintingswitch, harrypotterspells, worldguard, essentials, wgregionevents, essentialsportect, essentialsspawn, essentialschat, regionjukebox, essentialsantibuild
Complete server log = sorry new to using different plugin

[2013-12-21 23:17] Northwindyness opened #16 "HarryPotterSpells Configuration Issues"
CraftBukkit version: git-Bukkit-1.6.4-R2.0-b2918jnks

HarryPotterSpells version: A: HarryPotterSpells v0.6 for CB 1.6.2-R1.0 Sep 15, 2013

List of plugins: WorldBorder, EasyPermissionsEx, Storm, Timber, Broomsticks, mcore, BOSEconomy, ChestShop, ClearLag, ProtocolLib, PermissionsEx, HarryPotterSpells, Assasination, ArrowMythology, Essentials, EssentialsProtect, DisguiseCraft, EssentialsSpawn, Were

[2014-03-05 03:36] taralom opened #17 "Casting Spells on Self and Changing Config Values"
I am not sure how to cast spells on myself; is there a way to do that? Otherwise the Bubble-head Charm, for example, is only useful when you are working as a pair. Since my friends aren't always online, I'd like to use it alone.

Also, only the true/false values change the functionality; I can spam Stupefy spells, for example, with no cooldown. None of the spells have any sort of cooldown, and I c

[2014-05-27 17:11] alexpan98 opened #18 "Aguamenti Bug!"
After using Aguamenti water does not disappear after some time, but the block under created water block disappears instead! Please, fix this nasty bug! :)

[2014-09-02 02:30] #18 closed, assigned to jacklin213

[2014-09-02 02:33] #16 closed, assigned to nobody

[2014-09-02 02:34] #15 closed, assigned to nobody

[2014-09-02 12:36] Karnal opened #19 "The Plugin HarryPotterSpells doesn´t work."
Hello!
The problem is: There is no config but a empty language file called "us-english.properties" in the plugin folder. So no command is working, but the plugin is listed, when I do /pl.

Thanks for help,
## Karnal

CraftBukkit version: version git-Bukkit-1.7.9-R0.1-10-g8688bd4-b3092jnks (MC: 1.7.9) (Implementing API version 1.7.9-R0.2)

HarryPotterSpells version: HarryPotterSpells v1.0 for CB 1.

[2014-10-03 08:41] #19 closed, assigned to nobody

[2014-10-04 12:57] phatfinger5 opened #20 "Not generating any files"
This is the first time I got the plugin and it does not work.  It wont generate the files that it needs.  I would try to fix it by moving the us language file that has not been generating, but there is no files to put it in.  I would also try getting a new bukkit version, but of course I cant....

I have tried both craftbukkit and spigot.

My CraftBukkit version is: git-Bukkit-1.7.2-R0.3-30-ge027d

[2014-10-05 00:57] #20 closed, assigned to nobody

[2014-10-06 17:40] phatfinger5 opened #21 "Won't work"
Sorry for a not very informative title.  The plugin after using the hotfix and fixing the language file, still wont work.

Here is my bukkit version and plugins: My CraftBukkit version is: git-Bukkit-1.7.2-R0.3-30-ge027d69-b3058jinks (MC: 1.7.9) (Implementing API version 1.7.9-R0.1-SNAPSHOT

My plugin list: WorldEdit, Easy_Plant, Essentials, EssentialsProtect, HorseMount, EssentialsChat, Essential

[2014-10-08 11:41] #21 closed, assigned to nobody

[2015-02-25 09:25] kingsofbart commented on #1
Hi,

can you update harrypotterspells to 1.8 spigot?

gr bart

[2015-04-21 11:55] jacklin213 opened #23 "Locale generation Error"
Quote: xX99oddXx123

How to approach fixing this:
* Redo how the properties files are copied into the users directory
* Further planning needed

Update:
* Weird error confirmed on ubuntu, maybe all linux systems effected?
* Unknown status for mac computers
* Plugin will work find on window computers

[2015-04-25 02:55] jacklin213 commented on #20
@phatfinger5 Not sure if your still interested but download [v.1.1.3](http://dev.bukkit.org/media/files/872/138/HarryPotterSpells.jar) and download [hps.rar](https://github.com/HarryPotterSpells/HarryPotterSpells/raw/master/hps.rar), extract the locale folder directly into your HarryPotterSpells folder, and the plugin should work fine

[2015-04-25 02:58] jacklin213 commented on #19
Sorry @Karnal quick question, what operating system did you have at that time

[2015-04-25 03:23] jacklin213 commented on #23
Current fix for this situation:
Download [hps.rar](https://github.com/HarryPotterSpells/HarryPotterSpells/raw/master/hps.rar), extract the locale folder directly into your HarryPotterSpells folder, and the plugin should work fine.

[2015-04-25 13:27] phatfinger5 commented on #20
I think we had already fixed it, unless this is just a new update... in
which case I no longer have a server.

On Fri, Apr 24, 2015 at 9:55 PM, Jack Lin <notifications@github.com> wrote:

[2015-05-10 10:56] Kezz101 opened #29 "Phantom wand in crafting table"
Whilst opening the crafting table, the loreless wand appears even without entering any objects into the crafting grid. This happens in both the crafting table and the inventory

Error logs:
[code]

[2015-05-10 11:12] Kezz101 opened #30 "/wand doesn't work"
Put simply, the command `/wand` doesn't work.

Error logs:
[code]

[2015-05-10 11:13] Kezz101 opened #31 "Confundo: casting not working"
Regardless of who you cast Confundo at, it does not work and returns an error saying "This can only be used on a player".

There is no error log displayed.

[2015-05-10 15:39] Kezz101 commented on #29
Fixed in 999f61a54d8c8eff391e0e569ad1e87a172d4b11

[2015-05-10 15:39] #29 closed

[2015-05-23 16:28] xDarkSkyZ opened #32 "[HPS] An error occured whilst generating a Particle Effect!"
Hey !
![capture](https://cloud.githubusercontent.com/assets/12575131/7784938/2fc8cf5e-0179-11e5-82f6-8eb73945ce81.JPG)

I'm just here to post a bit question : In the console on my server, this message is dislay when I use a spell : [HPS] An error occured whilst generating a Particle Effect!

I give you an image to see the problem.

I'm in the last version of HPS, HarryPotterSpells v1.1.3.

Thanks

[2015-05-23 22:38] jacklin213 commented on #32
We are aware of this bug and will fix it soon, thanks for making an issue :)

[2015-05-24 16:45] xDarkSkyZ commented on #32
Hey !
Thanks to answer.

Just a bit question : Approximately when will it be available ?

[2015-05-25 08:02] jacklin213 commented on #32
I'd love to say within this week, but definitely by next week

[2015-05-27 11:30] xDarkSkyZ commented on #32
Thanks ! <3

[2015-05-27 11:30] #32 closed

[2015-06-05 04:32] #23 closed

[2015-06-05 04:34] #30 closed

[2015-06-26 08:21] zachoooo commented on #31
The only way this is possible is if it fails this line:

    if (entity instanceof Player) {

Which would mean that the entity isn't an instance of a player. How thoroughly was this tested?

[2015-06-26 23:23] zachoooo opened #36 "Durations for spells not working properly in some instances such as with the Flame Freeze Charm"
Spells always use the default duration

[2015-06-26 23:24] zachoooo opened #37 "Players changing spells spams the console."
The console should not be notified that a player has switched spells and if so it should only be notified if they actually use it.

[2015-06-27 23:02] jacklin213 commented on #37
Was a mistake I made, fixed it with commit 2c44318

[2015-06-27 23:02] #37 closed

[2015-06-27 23:09] jacklin213 commented on #36
Was confirmed as a particle bug which was fixed in 49a031a, thanks @zachoooo

[2015-06-28 03:11] #36 closed

[2015-07-02 08:34] CoderInOrbit opened #43 "[1.7.10] Alohomora working, but not rendering graphically"
Hello,

Casting Alohomora opens iron doors, but the iron door does not show as opened, even though it is. The opening animation of the door did not trigger, so the door looks closed, but isn't. Additionally, it never closes, and the spell text seems to be rendering 3 or 4 times for some reason.

Additionally, error in the console :

I am using the latest version of HPS posted on Jenkins.
Thank you

[2015-07-02 08:47] CoderInOrbit opened #44 "[1.7.10] Homenum Revelio not working"
Hi,

Homenum Revelio doesn't trigger any animation when the spell is cast. Nothing basically happens. Here is the error log :

Using latest version of HPS on Jenkins.
Thank you

[2015-07-02 21:29] CoderInOrbit opened #45 "[1.7.10] Refilling Charm not triggering any animation"
Hi,

Refilling Charm works fine on buckets, but no animation gets emitted whatsoever.

Here are the logs :

Using latest version of HPS on Jenkins

Thanks!

[2015-08-06 20:40] BayKoZ opened #46 "[1.8.8] How to disable any messages in the chat ?"
Hi everyone ! :+1:

I'm here to ask you to how to disable any messages in the chat ?
I want to disable the most painful message :rage:

![github_hps1](https://cloud.githubusercontent.com/assets/13684416/9122665/cfda6f1a-3c8a-11e5-837f-e2d62271460c.JPG)

But before, any informations..

CraftBukkit version : Spigot 1.8.8-R.01-SNAPSHOT

HarryPotterSpells version : the latest version, 1.1.4

List of p

[2015-08-17 03:51] Zeddart opened #47 "[1.8.1] Infinite spell (Lag Generator Bug)"
Hello! I've recently started out using HarryPotterSpells and there is one spell that when casted continues forever. I believe this is Incendio. I use dynmap and i see a continued line of dots on the map in many directions. Furtherst one i've found continues 380k blocks out. Lets say i stopped going at that point (i do not know how far out it have gone).

Here is a picture of my dynmap, as you see

[2015-08-17 03:59] Zeddart opened #48 "[1.8.1] Specific spell permission not working."
As i wan't to prevent players from using Avada Kedavra and some other OverPowered spells i tried using the permission node "harrypotterspells.spell.<spell>". After trying alot of different names "Avada_Kedavra, Avada-Kedavra, AvadaKedavra" and so on. Nothing seems to work. They still don't get the permission.

Thank you for taking the time to read my next issue =3

[2015-08-17 11:28] #48 closed

[2015-08-17 11:33] jacklin213 commented on #48
Spells with spaces in them now should work by replacing the space with a "-"

eg) Avada Kedavra = harrypotterspells.spell.avada-kedavra

[2015-08-17 11:35] jacklin213 commented on #47
I'll take a look at this and hopefully push a solution to this. Thanks for sending in a detailed report :)

[2015-08-17 11:38] jacklin213 commented on #46
@BayKoZ That message is ment to be displayed as some spells can only be used on a player or mob. The message is appearing because someone isn't aiming properly

Regards
Jack

[2015-08-17 11:38] #46 closed

[2015-08-17 11:39] jacklin213 commented on #43
@CoderInOrbit Version 1.1.4 only works for bukkit/spigot 1.8 +

[2015-08-17 11:39] #43 closed

[2015-08-18 07:49] Zeddart commented on #47
Awesome, my players will look forward to 1.1.5, there was alot of sad faces when i had to temporarly remove the plugin =)

[2015-08-18 08:10] Zeddart opened #49 "[Suggestion] Leveling the spells"
There was told you love suggestions ;)

As we all new Neville Longbottom in the Harry Potter Series wasn't the greatest wizard in all time. Me and some of my members came up with the idea of being able to level up you're skill in each spell. For example at level one "first time using" a spell might go wrong. You might explode or explode something or just horrible things might happen because you sp

[2015-08-18 11:11] jacklin213 commented on #47
Forgot to mention before try setting the value of ```spell-effective-time``` to a lower value. That is the config value for killing spells after a certain time.

[2015-08-18 11:28] Zeddart commented on #47
Is this in seconds ticks or miliseconds?

[2015-08-18 11:38] Zeddart commented on #49
I updated the post with more specific examples =)

[2015-08-18 11:43] Zeddart opened #50 "[1.8.1] Expelliarmus not working correctly."
One of my admins have reported that Expelliarmus does not disarm players, does not matter if it is wands or weapons.

*Information not given in my last issues:*
Server Client: Spigot 1.8.7-Ro1-SNAPSHOT

HPS Version: Latest

Dynmap, Acceptrules, Mcdocs, Worldedit, Questioner, Openinv, Essentials, Logblock, Blothera Thief, ConsoleScheduler, Votifier, Protocollib, Worldguard,  Brewery, Nocheatplus, F

[2015-08-19 08:01] jacklin213 commented on #47
@Zeddart Ticks. Ill take note of that and I'll see what i can do about the default time

[2015-09-08 00:48] #50 closed

[2015-09-08 00:49] jacklin213 commented on #50
Thanks for reporting this, Download the latest build from our jenkins server and it should be fixed

[2015-09-08 01:55] #31 closed

[2016-03-20 12:12] reazer18 opened #51 "[1.8.1] Expelliarmus doesn't work"
Hello, First excuse me for my bad english, I'm french.
I noticed that the Expelliarmus spell does not work.
No error code.
The version of my server is SpigotMc-1.8.8-RO1.
Thank you in advance for your answer.
Sincerely reazer18.

[2016-03-23 14:58] reazer18 commented on #51
Up !

[2016-03-24 12:09] jacklin213 commented on #51
Hey there

Can you see if you still have the problem if you just run a server with only HarryPotterSpells plugin

Thanks

[2016-03-26 12:46] reazer18 commented on #51
Hello,

Excuser le retard, même sans plugins sauf Harry Potter Spell expelliarmus ne fonctionne pas, mais est-ce que le Gamerulle KeepInventory peut affecter ?

Amicalement reazer18

[2016-03-27 11:31] jacklin213 commented on #51
Oh are you in survival game mode when you are using HarryPotterSpells, sometimes it doesn't work in creative and adventure mode

[2016-03-27 17:58] reazer18 commented on #51
Yes i'm in survival mode, I tested with all games modes, I test the plugin in my public server, then all players test the spell Expelliarmus in survival mode.

[2016-03-30 09:08] jacklin213 commented on #51
I just tested it and it seems to work. When you use it does the particle effect go off? Do other spells work?

[2016-03-30 13:45] reazer18 commented on #51
The other spells It Works. And yes the particles triggered.

[2016-05-06 19:30] BruceFradgLee opened #53 "Crafting Spells"
This would be great if you had to craft spells in order to cast or learn them. This would give the plugin more of a progression rather than being given certain spells.

[2016-05-06 23:08] jacklin213 commented on #53
As it is currently, We are trying to add that in as an extension. We are trying to make the plugin as modular as possible. Hopefully we will get it out by the next version (1.1.6)

Thanks for the feedback :)

[2016-06-13 00:51] mmrobins1 opened #55 "Cooldown Config not doing anything"
I have changed the cooldown.yml config but the default cooldowns remain the same..

[2016-08-17 18:28] Deltazura opened #56 "Problem with permissions"
Hi, I put the permission HarryPotterSpells.teach but the group who have this perm cannot teach spells :
"You cannot teach Primordius Incendio as you do not know it."
Can you help me ?

[2016-08-20 22:12] jacklin213 commented on #56
The people who are trying to teach the spell need to have learnt the spells themselves. Either get an op to teach them the spell or have someone who knows the spell to teach it to them

[2016-08-20 23:12] LazerJohnny opened #57 "[SUGGESTION] Wingardium Leviosa Edits"
I suggest a way to make the wingardium leviosa spell better. Instead of letting the caster fly, you should make it levitate items for a short period of time. This would provide a better Harry Potter experience and since the Accio charm pulls items toward you, I can't imagine it would be _that_ hard.

Thanks for considering my idea,
LazerJohnny

[2016-12-06 03:23] #44 closed

[2016-12-06 12:21] jacklin213 commented on #45
Its come to my understanding that Refilling Charm doesn't actually have a particle effect. This will be a milestone for 1.1.6

[2018-01-02 16:47] Daluse opened #59 "Translation contribution (spanish)"
Good evening,
I'm not even sure you're still there but I would love to use your plugin for a HP idea I have on mind with some friends. I was checking the terms on the bukkit page and I saw you only have it translate it for german and english so I thought I could help with that? I would love to help you translate the plugin to spanish, if you're looking on moving on this project... I've seen you ha

[2018-01-08 16:05] Kezz101 commented on #59
Hi Daluse!

Always fab to hear people still using this plugin :) I know none of us haven't been active at all hear but i'm glad you'd like to use it!

To translate you just need to translate the text on the right in this file https://github.com/HarryPotterSpells/HarryPotterSpells/blob/master/src/us-english.properties and submit a PR for it!

You can also just edit the `us-english.properties` file

[2018-01-23 21:03] Rowz opened #62 "Your Paypal does not working?"
Hey,
I want to buy the plugin HarryPotterSpells(https://www.spigotmc.org/resources/mc1-10-harrypotterspells-sale.12005/) But when i want to buy your plugin. It is saying: "We're sorry, things don't appear to be working at the moment. Please try again later."
How can i buy your plugin right now?

Greetz,
Plakt0ets

[2018-01-24 03:59] jacklin213 commented on #62
Hey Plakt0ets,

You can still download our plugin for free on the bukkit website
https://dev.bukkit.org/projects/harrypotterspells. The spigot one is if you
wanted to donate

Regards
Jack

On Wed, Jan 24, 2018 at 10:03 AM, Rowz <notifications@github.com> wrote:

--
jacklin213

[2018-01-24 06:44] Rowz commented on #62
Hey, the bukkit version dont work in 1.12.2?

[2018-01-24 13:24] Rowz opened #63 "1.12.2 does not working?"
Hey, i got an error. I asked a developer and he says i can send this 2 errors to you:
at com.hpspells.core.HPS.onEnable(HPS.java:80) ~[?:?]
14:19:32     at com.hpspells.core.HPS.onEnable(HPS.java:80) ~[?:?]

The whole error is here:
https://hastebin.com/dofidiriri.go

[2018-01-24 14:44] jacklin213 commented on #63
I will need to update the plugin, I'll try get it done as soon as possible

On 25/01/2018 02:27, "Rowz" <notifications@github.com> wrote:

[2018-02-04 18:51] jacklin213 commented on #63
Sorry, Been held up for a bit. Should be done this weekend

[2018-02-10 12:33] jacklin213 opened #64 "[1.1.6] Wand - Invalid Probability issue"
- Running version 1.1.6 of HPS
- Spigot version 1.12.2

When running plugin for the first time, any /wand generated wand has Invalid Probability for core & manufactured by

[2018-02-11 10:31] #63 closed

[2018-06-08 14:45] FreralCat opened #67 "Plugin prevents players from dying banners and extending maps."
Hi, I have deducted that HPS is preventing players from dying banners and extending maps. I am certain about this as I have just uninstalled it and players can now craft bigger maps and dye banners once more. I haven't uninstalled any other plugins with it. The server has recently transferred over from Bukkit 1.12.2 to Spigot 1.12.2 although this issue has been occurring on both plugin platforms.

[2018-06-09 06:33] jacklin213 commented on #67
Hi FreralCat,
Thanks for reporting this issue, I shall do some testing to see if I can reproduce this bug. I will keep this thread updated
Regards
Jack

[2018-06-09 11:28] jacklin213 commented on #67
I have confirmed both bugs, will begin looking into it on the 16th (I have exams this week)
Thanks for your understanding

[2018-06-10 10:27] FreralCat commented on #67
Thank you for looking into this. I'm more than happy to wait, school is
much more important. I look forward to your verdict later on and good luck
on your exams. :)

On Sat, 9 Jun. 2018, 2:28 pm Jack Lin, <notifications@github.com> wrote:

[2018-06-15 09:39] jacklin213 opened #68 "Plugin has no way of updating local translation files once they have been generated"
This issue occurs for all versions of HPS and is caused by adding new content into translation files being used by HPS. For example in the latest HPS a new command was added thus requiring new content in the translation files such as
```cmdExampleCommandExplaination = I am the explanation for the new command```

People that have already run HPS previously and have the language files generated will

[2018-06-16 10:10] jacklin213 commented on #62
Sorry forgot to mention here during February when I updated the plugin, It works for 1.12.2

[2018-06-16 10:11] jacklin213 commented on #67
Found the problem and fixed it, you should see an official release coming out soon for the next few days. I have tested that both extended maps and dying banners now work again :D

[2018-06-18 23:44] #67 closed

[2018-07-07 12:09] Oogoid35 opened #70 "Commands"
I can not find any command. wand can be done without using commands. please type the commands

[2018-07-07 12:12] Oogoid35 commented on #64
i am living the same

[2018-07-08 13:42] FreralCat commented on #70
**Hi again, commands haven't been working at all and this is what appears in the console on startup. I'm using a spigot 1.12.2 build and have the following plugins:**
_WorldEdit, Questioner, KeepItems, ClearLag, WarningManager, PermissionsHealthRecoded, HolographicDisplays, Broadcaster, WorldGuard, PermissionsEx, IgnoreMe, HarryPotterSpells, mcMMO, Vault, CustomEnchantments, AntiFlyInRegions, Esse

[2018-07-09 22:23] #62 closed

[2018-07-13 12:53] jacklin213 commented on #70
@FreralCat I ran HPS v1.1.9 on the stable 1.12.2 spigot release and the commands loaded/worked fine (as shown in the screenshots)
Could I get you to tell me which version of HPS you are using and send me you config.yml file as well as any other errors shown in your console
Thanks

![image](https://user-images.githubusercontent.com/1115240/42692482-fbe01a8e-86ff-11e8-80b7-6fe31a540fd3.png)

![image

[2018-07-14 19:42] FreralCat commented on #70
Hi Jacklin,
I'm using HPS version 1.19 and this is what the config file looks like:

And this is what appeared in the console:

14.07 21:20:35 [Server] INFO Debug: Starting Extension Manager...
14.07 21:20:35 [Server] INFO Debug: Crafting modifications complete.
14.07 21:20:34 [Server] INFO Debug: Starting crafting modification...
14.07 21:20:34 [Server] INFO Debug: Added commands to help.
14.07 2

[2018-07-14 23:01] jacklin213 commented on #70
@FreralCat make a copy of your ```/plugins/HarryPotterSpells``` folder, delete the original and run the server again, see if that will fix the problem. If it does, copy your config files over 1 by 1. Then everything should be back to normal

[2018-09-01 11:08] Kombotage opened #71 "Plugin not working"
I open server it says the plugin is on, but the commands aren't working I use bukkit 1.12. Please Help

[2018-09-01 21:31] jacklin213 commented on #71
Can you try renaming your file from ```HarryPotterSpells+v1.1.9.jar``` to ```HarryPotterSpells v1.1.9.jar``` instead and see if that works for you?

[2018-09-29 18:36] Poulpinounette opened #72 "The plugin dosn't work"
Hi,
The plugin dosn't work, all command is not available and not register.

(I don't have touch the config)
Server version: git-Spigot-642f6d2-57ab4cf (MC: 1.12.2) (Implementing API version 1.12.2-R0.1-SNAPSHOT)

Plugin: v1.1.9

Log file: https://pastebin.com/QeFffYrM

Please, check up your plugin

[2018-09-30 13:03] Poulpinounette commented on #72
Lol, if you remove the + from the name of the plugin. It's work. lol.

[2018-09-30 13:03] #72 closed

[2018-10-14 01:04] ZeonBT opened #73 "1.13"
Hey it’s that horrid time where Mojang update any muck things up though I’ll let you know what’s been effected I’ve sent you a message on bukkit

[2018-10-17 18:24] scouttiger opened #74 "Cant teach spells as OP"
I am OP since i am the owner of the server. I still cant teach spells (not even to myself) since i do not know it... I De-opped and opped myself again via console but still no result.

What can it possibly be?

Greetings,
Tom

[2018-10-18 06:14] jacklin213 commented on #74
Hi Tom,

May I ask what commands did you use to try teach spells to your self and what kind of outputs did you get on the console

Regards
Jack

[2018-10-29 19:04] signorhuman opened #75 "Crafting spell in the book"
Hi, I am writing to understand how I can solve this problem.
I can not put spells in books. I activated the command from the config:
                                                                           Should we allow spells to be craftable into books?
                                                                           spells-craftable: true
but the command does not seem to be good.
I

[2018-10-29 21:57] jacklin213 commented on #74
@scouttiger Hi are you still there?

[2018-10-29 22:00] scouttiger commented on #74
The response I got was that I didn't know the spell so I couldn't reach
myself the spell (even ass OP).  I tried doing it with console as well but
that didn't do anything

Greetings,
Tom

On Thu, 18 Oct 2018, 08:14 Jack Lin, <notifications@github.com> wrote:

[2018-10-29 22:09] jacklin213 commented on #75
Hi @signorhuman
Currently, only 1 spell has a craft recipe and that's the time spell. So basically using the recipe below if you put those items into a crafting table you should receive a spell book.
[code]

Currently, there is no functionality with the created book as it is only for aesthetical uses. But if you would like some functionality built into the books feel free to let me know what they

[2018-10-29 22:38] signorhuman commented on #75
The idea was to be able to put the spells on the books to use them on items of your choice: hoe for example. This changing the texture of the hoe with a wand can be customized to the maximum!
pensavo ad un comando base come /spellbook <spell> , very easy.
it's possible?

[2018-10-30 04:17] jacklin213 commented on #74
@scouttiger Try running ```/teach me *``` and tell me what happens

[2018-10-30 11:31] scouttiger commented on #74
[image: image.png]
[image: image.png]

Thas all the output i get. And i do not understand why it does what it does
since im OP.

greetings,
Tom

Op di 30 okt. 2018 om 05:17 schreef Jack Lin <notifications@github.com>:

[2018-10-30 12:39] ZeonBT commented on #73
I HAVE MADE A LIST OF ALL SPELLS AND PROBLEMS

- Accio - WORKS
- Aguamenti - WORKS (PARTICLE DOES NOT)
- Alarte Ascendare - WORKS (PARTICLE DOES NOT)
- Alohomora - WORKS (PARTICLE DOES NOT)
- Aparecium - WORKS NOT NOT ON PLAYER (PARTICLE DOES NOT)
- Arania Exumai - WORKS (PARTICLE DOES NOT)
- Avada Kedavra - WORKS (PARTICLE DOES NOT)
- Avis - WORKS
- Bauleo - WORKS
- Bubble Head Charm - dosent wor

[2018-10-30 12:43] ZeonBT commented on #75
Hi there I thought I might jump in and suggest something here to do the spells books, I don’t have a lot of knowledge on the spell books from the plugin as they still being made but what I did make something with this plugin a few years back is create spell books from a tell raw program very simple so I created books that students can read and click their spells they want to to learn if you want I

[2018-10-30 12:53] jacklin213 commented on #74
@scouttiger The image doesnt seem to have attached properly, You might need to try replying via github instead of email :o

[2018-10-30 12:59] jacklin213 commented on #75
@signorhuman Ahh ok understand. I can definitely make it a command. In terms of enchanting items with spells, I will need to see how hard that is :)

[2018-10-30 13:09] signorhuman commented on #75
@jacklin213 thank you so much! I'm sure it will be the best plugin for spells! I look forward to the update!

[2018-10-30 13:28] ZeonBT commented on #73
Is this what you wanted ?
any thing else i can help with let me know

[2018-10-30 21:54] scouttiger commented on #74
Picture 1 <https://gyazo.com/1b54d03635e59d7bf69ffeaeb6e83c85>
Picture 2 <https://gyazo.com/8393c7f7b3ffa2d538590950d8e04037>

As seen in picture one, i tried /teach * which got as output that the
plugin tried to teach me the spells. in chat there are "you cannot teach
scout_tiger this spell as you do not know it" messages with an ending of a
yellow "scout_tiger already knows all the spells".

the

[2018-10-30 22:02] jacklin213 commented on #74
@scouttiger Could you show me the contents of the playerspellconfig.yml thanks

[2018-10-30 22:06] scouttiger commented on #74
Player spells yml <https://gyazo.com/bfc5c6b7c3a23f5ae3d433693fcba12a>

Op di 30 okt. 2018 om 23:02 schreef Jack Lin <notifications@github.com>:

[2018-10-31 02:26] jacklin213 opened #76 "[1.12.2] Console spell teaching errors out for offline player"
HPS Version: 1.1.9 BETA
Spigot Version: 1.12.2 r0.1

If you try to teach spells to a player through console and the player isn't online it throws an error
[code]
Remedies either:
- Message console saying player is not online
- Add spells to PSC for the player (If they have played before vs New player)

[2018-10-31 02:32] jacklin213 commented on #73
https://github.com/HarryPotterSpells/HarryPotterSpells/blob/360f817fc363059daa06e61a69d68be851e66baf/src/com/hpspells/core/command/Teach.java#L78
Spacing bug here that needs to be fixed too

[2018-10-31 02:37] jacklin213 commented on #74
Wow that is so weird, I just tried teaching myself spells on a fresh server with the command
``` /teach * jacklin213 ``` and it looks like this both in console and command

![image](https://user-images.githubusercontent.com/1115240/47762679-85e7fd00-dd22-11e8-8953-6d104274971b.png)
![image](https://user-images.githubusercontent.com/1115240/47762722-ab750680-dd22-11e8-88c6-9f76ae0c6cfe.png)

Can yo

[2018-10-31 02:59] jacklin213 commented on #1
No longer needed as github now supports issue templates

[2018-10-31 02:59] #1 closed

[2018-10-31 06:40] scouttiger commented on #74
Bukkit version: craftbukkit-1.12.2.jar
HPS version: HarryPotterSpells version 1.1.9 BETA

those are the versions you asked for.

And no problem, it's probably a fault I made and has nothing to do with the
coding of the plugin.

Greetings,
Tom

On Wed, 31 Oct 2018, 03:37 Jack Lin <notifications@github.com wrote:

[2018-10-31 11:00] jacklin213 commented on #74
@scouttiger You never know, it could be a coding problem too :). That's why we are here to work it out. Are you able to upload your server.log file to https://pastebin.com and paste the link here? Thanks

[2018-10-31 11:06] scouttiger commented on #74
When I'm back home I'll do it rightaway. That will be in around 7 to 8 hours

Greetings,
Tom

On Wed, 31 Oct 2018, 12:00 Jack Lin <notifications@github.com wrote:

[2018-11-14 22:45] jacklin213 commented on #74
@scouttiger Hey, Sorry I can't see the latest log, where did you put it?

Regards
Jack

[2018-11-14 22:47] scouttiger commented on #74
Hello Jack,

For some reason the plugin worked on my other server.
I copied the files from the userfile back to my spell-server and everything
is looking fine now. Thanks for ghe support!

Greetings,
Tom

On 14 Nov 2018 11:45 pm, "Jack Lin" <notifications@github.com> wrote:

@scouttiger <https://github.com/scouttiger> Hey, Sorry I can't see the
latest log, where did you put it?

Regards

Jack

—
Y

[2018-11-14 23:04] jacklin213 commented on #74
@scouttiger Haha omg that's so weird, I'm glad that is solved now
Have a great day

[2018-11-14 23:04] #74 closed

[2018-11-16 16:13] signorhuman opened #77 "Italian language?"
Hi, i'm italian. i love your project. I would like to help translate the plugin into Italian.
How can I participate in the translation?

[2018-11-17 08:10] jacklin213 commented on #77
Hi @signorhuman

Thank you very much, that would be great. It would just be a translation of this file
https://github.com/HarryPotterSpells/HarryPotterSpells/blob/master/src/us-english.properties

Steps:
1. Top right corner click on the "Fork button"
2. Clone the project to your computer. See [help](https://help.github.com/articles/cloning-a-repository/)
3. Create a new file called ```it-italian.p

[2018-11-17 11:42] signorhuman commented on #77
Hi,I did a translation of the file. I have attached the file and for sure
send a link where you can download it. let me know if there are any
problems.

http://www.mediafire.com/file/5tg3ovd3gtwcbf3/it-italian.properties.txt/file

Il giorno sab 17 nov 2018 alle ore 09:10 Jack Lin <notifications@github.com>
ha scritto:

######################################################

# HarryPotterSpells Fil

[2019-02-08 10:08] jacklin213 commented on #77
This will be available in HPS v1.1.10. Thank you for your hard work :)

[2019-02-08 10:08] #77 closed

[2019-02-21 03:32] #73 closed

[2019-02-21 03:34] jacklin213 commented on #70
Closed as Op no longer replying to thread. Feel free to reopen an issue if it persists

[2019-02-21 03:34] #70 closed

[2019-02-21 03:38] #56 closed

[2019-02-21 03:44] jacklin213 commented on #75
@signorhuman Just to understand the request further. Let's say I have a spell called Accio
1) You want to be able to (craft the spell into) / (use a command that generates) a spell book
2) Use the spell book on the wand
3) The player is now taught Accio

Correct me if I'm wrong. Sorry for the delay, I still want to fulfill the request :)

[2019-03-01 13:17] signorhuman commented on #75
Yes, right! :)

Il giorno Gio 21 Feb 2019, 04:44 Jack Lin <notifications@github.com> ha
scritto:

[2019-05-10 23:57] jacklin213 commented on #75
Ran into a problem while trying to do this:
1. Making spells craftable / Command that generates a spell book is no problem
2. Spells are tied to players not the wand themselves, so it would be hard to "enchant" a wand item with the spell. Other problem is some wand items cannot be placed into an enchantment table eg) stick

I was thinking if a player has a spellbook and he right clicks the book in

[2019-05-11 00:13] #76 closed

[2019-08-26 20:33] ZeonBT opened #80 "Lots Problems"
The old Discord link ran out here is the new one.
For anyone wanting to join our Discord here is the link. https://discord.gg/Uu5A63P

Also the old Website down so i thought as im part of the Dev team here is a new site for free https://hpspells.myfreesites.net/

[2020-02-18 10:36] TheRealVIG0R opened #83 "Bug with Expelliarmus spell"
**Please complete the following information):**
 - OS: Windows
 - Server type: Spigot
 - Server Version: 1.12.2 R0.1-Snapshot
 - HPS Version: 1.1.9 BETA
 - List of plugins: AcademyClasses, Admin-Chat-1.4.4, ArmorStandTools, BroomSticks, ChatManager_3.6.2, Citizens, CitizensText, CommandNPC-1.9.1, CraftBook+3.9u22, CratesPlus-4.5.2, EssentialsX-2.17.1.0, EssentialsXChat-2.17.1.0, EssentialsXSpawn-2

[2020-02-18 10:56] jacklin213 commented on #83
Thanks for providing the information requested from the template.
From initial investigations, it looks like the Spell was not able to find a material matching the wand type specified in the config under "wand.type".

Can you please send a http://pastebin.com of your config, or paste it directly in here using the insert code option.

Regards
Jack

[2020-02-18 11:14] TheRealVIG0R commented on #83
https://pastebin.com/E7bTGUS8

[2020-02-18 12:41] TheRealVIG0R commented on #83
@jacklin213 ?

[2020-02-19 04:09] jacklin213 commented on #83
Hey,

Thanks for providing the paste. This bug was fixed HPS v1.2.1
https://dev.bukkit.org/projects/harrypotterspells/files/2831797

Please update to use this version and let me know if there are any further issues

[2020-02-20 14:39] TheRealVIG0R commented on #83
Ok, thank you. Just saying that version doesn't seem to be compatible with 1.12.2, which is the version of my server.

[2020-02-21 08:43] jacklin213 commented on #83
Hey @TheRealVIG0R

We do our best to maintain backward compatibility but due to the Spigot API requirements in 1.13.2 and 1.14.4, to use any of the new content we have to tag the plugin for that version. This means that we no longer can maintain backward compatibility pre 1.13.2. All the new features and versions of HPS going onward will at least require 1.13.2.

For the time being as the Expillar

[2020-02-23 12:27] jacklin213 opened #84 "Unable to edit config with /hps config edit for numeric values"
Effects all OS, versions of Spigot, all recent versions of HPS

**Describe the bug**
When trying to edit any configuration using the /hps config edit command, if the desired value to set is a number, it gets written to the config as a string which causes errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Run any command to edit a config and provide a numeric value
eg) ```/hps config edi

[2020-02-23 12:30] jacklin213 commented on #83
Resolving issue as this bug has already been addressed in future versions and an unsupported build was provided with fix applied to HPS v1.1.9

[2020-02-23 12:30] #83 closed

[2020-04-15 01:24] signorhuman commented on #75
yes, is a good solution!

[2020-04-15 05:34] jacklin213 opened #85 "Way to specify lore when generating wand"
**Describe the new/updated feature**
Be able to generate a wand with the exact lore you want with /wand

**Additional context**
Command should look something like
```/wand [player] [loretype=value] [loretype=value] ...```

Where lore type can be:
- Spell
- Length
- Core
- Wood
- Rarity
- Rigidity
- Manufacturer

and value being a valid value for the specific lore type that has been configured in c

[2020-07-15 12:27] Oliver941 opened #87 "LAG"
**Please complete the following information):**
 - OS: Windows
 - Server type: Paper
 - Server Version 1.15.2
 - HPS Version 1.2.3 BETA
 - List of plugins:
AdvancedRegionMarket
ActionHouse
BlocksToCommands
BottledEXP
BountyHunters
Broadcaster
BuyCraftX
ChestShop
Citizens
CratesPlus 
CustomCommands
DiscordSRV  
EpicRename  
Essentials 
GCore
GriefPreventionData  
GUIShopSpawners
HarryPotterSpells  

[2020-07-15 14:10] jacklin213 commented on #87
Hello,

Thank you very much for sending this in.

The performance statistics are very interesting. I do know that in our config we have a toggle that can limit how long (in ticks) a spell can travel for. By default this value is -1 which means it can travel forever
https://github.com/HarryPotterSpells/HarryPotterSpells/blob/1028f992b5a1ed772522de34e7fe4f4f6e92a815/src/config.yml#L127-L128

If a us

[2020-07-15 16:04] Oliver941 commented on #87
I must have missed that! Thank you so much for your quick response! I try it right away and see what happens! If you dont hear from me again, then its because it worked :D again thanks alot!

[2020-07-15 19:18] Oliver941 commented on #87
I also discovered that if I use "colloportus" on the top part of any door, then the door destroys and "drops" 2 doors, so people can basicly duplicate doors with that spell.... Any chance that that bug will get fixed soon?

[2020-07-15 19:35] Oliver941 opened #88 "Alohomora"
- OS: Windows
 - Server type: Paper
 - Server Version 1.15.2
 - HPS Version 1.2.3 BETA

First of all, on my last post "LAG" i commented a bug... (I also discovered that if I use "colloportus" on the top part of any door, then the door destroys and "drops" 2 doors, so people can basicly duplicate doors with that spell.... Any chance that that bug will get fixed soon?)

But my request is:
I Can't re

[2020-07-16 01:46] jacklin213 commented on #87
The Colloportus spell is a known bug, that was introduced in recent versions. It is in the top to fix priority list.

Will let you know when it is fixed

[2020-07-16 10:08] Oliver941 commented on #17
I cant use Bubble-head Charm... Cuz when im under water and try to cast it, it say that it only can be casted on a player... It dosnt work under water... idk why, and when people are above water, they already got full bubbles...

[2020-08-29 04:31] jacklin213 opened #89 "Glacius - IllegalArgumentException"
**Please complete the following information):**
 - OS: [e.g. Windows/Linux/iOS]
 - Server type: Paper
 - Server Version: 1.16.2
 - HPS Version: v1.2.3
 - List of plugins. Use ```/plugin``` to find this out
 - Complete server log

**Describe the bug**
Stack Trace:
[code]

**To Reproduce**
Steps to reproduce the behavior:
- Pending reportee ITapan#6969

[2020-08-29 15:08] ITapan opened #90 "Dunno what to call it, bug?"
**Please complete the following information):**
 - OS: [Ubuntu 20.04]
 - Server type: [Paper]
 - Server Version [1.16.2]
 - HPS Version [Latest that was on spigot]
 - List of plugins.
![image](https://user-images.githubusercontent.com/70442425/91639873-dfeaa400-ea19-11ea-9ccb-f2aa6a7cecb5.png)
[code]

[2022-03-03 05:29] bvoignier opened #94 "Given Wands do not allow spell to be equipped."
**Please complete the following information):**
 - OS: [e.g. Windows/Linux/iOS]
 - Server type: [e.g Spigot/Craftbukkit/Others]
 - Server Version [e.g. 1.12.2 R0.1-Snapshot] ```/version``` to find this out
 - HPS Version [e.g. 1.1.9 BETA] Use ```/version harrypotterspells``` to find this out
 - List of plugins. Use ```/plugin``` to find this out
 - Complete server log

If it's a configuration issu

[2022-03-03 05:30] bvoignier commented on #94
I gave a wand after an RPG event. I only want the "grand high witch" to be able to give out wands. wand wont cast magic spells.

[2022-03-03 05:32] bvoignier commented on #94
I have Brewery, HarrypotterSpells, LuckPerms, (even after adding full permission to commands still not working, Quests, SerialKey, and TamableFoxes.

[2022-03-03 05:38] #94 closed

[2022-03-03 05:38] bvoignier commented on #94
Im stupid, I did not give permission to harrypotterspells.cast for the user

[2022-03-03 14:02] jacklin213 commented on #94
Glad you were able to figure this out 👍

[2022-05-03 08:40] ZeonBT opened #95 "List of Bugs"
**Please complete the following information):**
 - Windows
 - Server type: Paper
 - Server Version 1.18.2 git paper  -283
 - HPS Version 1.2.4 Alpha
 - List of plugins. too many lol but all work around the plugin and have been doing so for years
 - Complete server log -

**Describe the bug**
- Bubblehead charm spell doesn't work
- Stupefy particles fires fireworks straight in the air and will spam